/* Google Font Family link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap')

/* Universal Selector */
*{
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
}
/* Header Section */
header{
    padding: 8px;
    background-color: rgb(0, 0, 0);
    color: white;
  }
  #resume{
    color: orange;
    font-weight: bolder;
  }
  .heading{
    color: cadetblue;
    font-style: italic;
    font-family: "Poppins", sans-serif;
  }
  .header-info{
    margin-right: 20px;
    margin-left: 10px;
    font-family: "Poppins", sans-serif;
  }
  #resume-text{
    margin-left: 10px;
  }

  /* Navigation Section */
  
  #navsection a{
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
  }
  #navsection{
    padding: 10px;
    text-align: left;
  }
  #navsection li{
    display: inline;
    margin-right: 30px;
  }
  /* Container Section */
  #container{
    border: 5px solid blue;
    width: 800px;
    margin:20px auto ;
  }
  li{
    padding-top: 20px;
  }
  table,tr,th,td{
    border: 2px solid rgb(22, 20, 20);
    border-collapse: collapse;
  }
  th,td{
    padding: 20px;
  }
  #techTable{
    width: 50%;
  }
  #listsummary{
    font-family: "Lobster", sans-serif;
  }
  #listsummary li{
    list-style-type: none;
  }
  #listsummary li::marker{
    content: "✍️";
  }
  .Roles ol{
    list-style-type: lower-alpha;
  }
  .Roles{
    font-family: "Lobster", sans-serif;
  }
  #projectDesc::selection{
  background-color: rgb(241, 193, 104);
}